.word {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    font-weight: bold;

    &>h1 {
        margin-left: 10px;
    }
}